<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>mockup desktop</title>
    <meta name="desktop mockup" content="Practicing">
    <meta name="Shani" content="donno">
    <link rel="stylesheet" href="style.css?v=1.0">
  </head>
  <body>
    <header class="container">
      <nav>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contacts</a>
      </nav>
      <div class="logo"></div>
      <a  class="cta" href="#">call to action</a>
    </header>
    <div class="offer-banner">
      <h1>Headline. Write here an attractive offer</h1>
      <h3>contact phone here +123 456 7891</h3>
    </div>
    <div class="bg-img container"></div>
    <div class="company-info container">
      <div class="company-title">
        <div class="title-p">
          <div>Some words</div>
          <div>about our</div>
          <div>company</div>
        </div>
        <div class="info-p">
          Keywords of business occupation
        </div>
      </div>
      <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
      </p>
    </div>
    <div class="services-section">
      <div class="services-title">
        <h3>Our services</h3>
        <div class="services-desc">Tell some words of services you offer.What problems can it help to solve?</div>
      </div>
      <div class="services-items container">
        <a href="#" class="service-item service-img-1">Our first service</a>
        <a href="#" class="service-item service-img-2">Our second service</a>
        <a href="#" class="service-item service-img-3">Our third service</a>
      </div>
    </div>
    <div class="motivation-section">
      <h3>Add a motivation phrase</h3>
      <div class="motivation-desc">Help your client to make a decision! Write here an</div>
      <div class="motivation-desc">Inspirational phrase and add a CTA button!</div>
      <div class="cta-2-con">
        <div class="arrow-img"></div>
        <a href="#" class="cta-2">Call to action</a>
      </div>
    </div>
  </body>
</html>