<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title=Layout Blog></title>
  <meta name="blog layout" content="Practicing">
  <meta name="Shani" content="donno">
  <link rel="stylesheet" href="style.css?v=1.0">
</head>
<body>
  <div id="page-con">
    <container class="left-con">
      <div>
        <h1 class="upper">A Sample Blog</h1>
        <p>creating a blog layout using pure</p>
        <div class="upper">
          <a>pure</a>
          <a>yui library</a>
        </div>
      </div>
    </container>
    <container class="right-con">
      <div class="section">
        <div class="upper">pinned post</div>
        <div>
          <div>
            <h2>Introducing Pure</h2>
            <div>by <a>Tilo Miltra</a> under <a>CSS</a><a>Pure</a>
            </div>
          </div>
          <div>
              <img>
          </div>
        <div>
          <p>Yesterday at CSSConf, we launched Pure – a new CSS library. Phew! Here are the slides from the presentation. Although it looks pretty minimalist, we’ve been working on Pure for several months. After many iterations, we have released Pure as a set of small, responsive, CSS modules that you can use in every web project.
          </p>
        </div>
      </div>
    </container>
  </div>
</body>

</html>