<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Layout Blog</title>
  <meta name="blog layout" content="Practicing">
  <meta name="Shani" content="donno">
  <link rel="stylesheet" href="style.css?v=1.0">
  <link rel="stylesheet" href="./img/img1.svg">
</head>
<body>
  <div id="page-con">
    <container class="left-con">
      <div>
        <h1 class="upper">A Sample Blog</h1>
        <p>creating a blog layout using pure</p>
        <div class="upper">
          <a class="left-tag" href="#">pure</a>
          <a class="left-tag" href="#">yui library</a>
        </div>
      </div>
    </container>
    <container class="right-con">
      <div class="section">
        <div class="upper underline">pinned post</div>
        <div>
          <div class="section-header">
            <div>
              <h2>Introducing Pure</h2>
              <div class="p-info">By <a href="#">Tilo Miltra</a> under <a class="tag-css" href="#">CSS</a> <a class="tag-pure" href="#">Pure</a>
            </div>
            </div>
            <div class="rounded-img">
            </div>
          </div>
        <div>
          <p>Yesterday at CSSConf, we launched Pure – a new CSS library. Phew! Here are the slides from the presentation. Although it looks pretty minimalist, we’ve been working on Pure for several months. After many iterations, we have released Pure as a set of small, responsive, CSS modules that you can use in every web project.
          </p>
        </div>
      </div>
      </div>
      <div class="section">
        <div class="upper underline">recent posts</div>
        <div>
          <div class="section-header">
            <div>
              <h2>Everything You Need to Know About Grunt</h2>
              <div>By <a href="#">Eric Ferraiuolo</a> under <a class="tag-jacascript" href="#">javascript</a>
            </div>
            </div>
            <div class="rounded-img">
            </div>
          </div>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          </p>
        </div>
      </div>
      </div>
      <div class="section">
        <div class="upper underline">recent posts</div>
        <div>
          <div class="section-header">
            <div>
              <h2>Everything You Need to Know About Grunt</h2>
              <div>By <a href="#">Eric Ferraiuolo</a> under <a class="tag-jacascript" href="#">javascript</a>
            </div>
            </div>
            <div class="rounded-img">
            </div>
          </div>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          </p>
        </div>
      </div>
      </div>
    </container>
  </div>
</body>
</html>