<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Layout pricing</title>
  <meta name="pricing layout" content="Practicing">
  <meta name="Shani" content="donno">
  <link rel="stylesheet" href="style.css?v=1.0">
  <link rel="stylesheet" href="./img/img1.svg">
</head>
<body>
  <header>
    <nav>
      <a href="#"><img class="logo" src="./img/logo.jpeg"/></a>
      <a class="nav" href="#">Home</a>
      <a class="nav" href="#">Pricing</a>
      <a class="nav" href="#">Contact</a>
    </nav>
  </header>
  <div class="bg-con">Simple Pricing.<br> Try before you buy.</div>
  <footer>

  </footer>
</body>
</html>