<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Layout pricing</title>
  <meta name="pricing layout" content="Practicing">
  <meta name="Shani" content="donno">
  <link rel="stylesheet" href="style.css?v=1.0">
  <link rel="stylesheet" href="./img/img1.svg">
</head>
<body>
  <div class="header">
    <nav>
      <a href="#"><img class="logo" src="./img/logo.jpeg"/></a>
      <a class="nav" href="#">Home</a>
      <a class="nav" href="#">Pricing</a>
      <a class="nav" href="#">Contact</a>
    </nav>
  </div>
  <div class="bg-con">Simple Pricing.<br> Try before you buy.</div>
  <div class="pricing-items container">
    <div class="pricing-item">
      <div class="price green">
          Personal <br>
          <div class="dollar">$25</div><br>
          per month </div>
      <div class="price-info">Free setup</div>
      <div class="price-info">Custom sub-domain</div>
      <div class="price-info">Standard customer support</div>
      <div class="price-info">1GB file storage</div>
      <div class="price-info">1 database</div>
      <div class="price-info">Unlimited bandwidth</div>
      <div class="price-info">
          <a href="#" class="choose-btn">Choose</a>
      </div>
    </div>
    <div class="pricing-item">
        <div class="price blue">
            Small Business <br>
            <div class="dollar">$5</div><br>
            per month </div>
        <div class="price-info">Free setup</div>
        <div class="price-info">Use your own domain</div>
        <div class="price-info">Standard customer support</div>
        <div class="price-info">10GB file storage</div>
        <div class="price-info">5 databases</div>
        <div class="price-info">Unlimited bandwidth</div>
        <div class="price-info">
            <a href="#" class="choose-btn">Choose</a>
        </div>
    </div>
    <div class="pricing-item">
        <div class="price black">
            Enterprise <br>
            <div class="dollar">$45</div><br>
            per month </div>
        <div class="price-info">Free setup</div>
        <div class="price-info">Use your own domain</div>
        <div class="price-info">Premium customer support</div>
        <div class="price-info">Unlimited file storage</div>
        <div class="price-info">25 database</div>
        <div class="price-info">Unlimited bandwidth</div>
        <div class="price-info">
          <a href="#" class="choose-btn">Choose</a>
        </div>
    </div>
  </div>
  <footer>

  </footer>
</body>
</html>