<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Layout landing page</title>
    <meta name="landing page layout" content="Practicing">
    <meta name="Shani" content="donno">
    <link rel="stylesheet" href="style.css?v=1.0">
  </head>
  <body>
    <header>
      <nav>
        <a href="#"><img class="logo" src="img/logo.jpeg"/></a>
        <a class="nav push" href="#">Home</a>
        <a class="nav" href="#">Tour</a>
        <a class="nav" href="#">Sign Up</a>
      </nav>
    </header>
    <div class="banner">
      <h1>big bold text</h1>
      <h2>big bold text</h2>
      <a class="cta-banner" href="#">big bold text</a>
    </div>

  </body>
</html>