html, body {
  margin: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

header {
  background-color: #2d3e50;
}

nav {
  display: flex;
  height: 60px;
}

.push {
  margin-left: auto;
}

a.nav {
  display: flex;
  align-items: center;
  padding: 30px 20px;
  color: #AECFE5;
}

img {
  height: 100% 
}

a{
  text-decoration: none;
}



